node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#any lock file to the gitignore using *
*.lock

#repomix files (any file with repomix in the name)
repomix*

#zig files
zig-out/
zig-cache/
